<h2>Edit Pofile</h2>
<table>
<%= form_for @user, :url => user_path do |user| %>
  <tr>
    <td><%= user.label :name %></td>
    <td><%= user.text_field :name %></td>
  </tr>
  <tr>
    <td><%= user.label :address %></td>
    <td><%= user.text_area :address, :rows => 4 %></td>
  </tr>
  <tr>
    <td><%= user.label :phone_number %></td>
    <td><%= user.text_field :phone_number %></td>
  </tr>
  <tr>
    <td><%= user.label :birthday %></td>
    <td><%= user.date_select(:birthday, :start_year => 1940) %></td>
  </tr>
  <tr>
    <td><%= user.label (:gender) %></td>
    <td><%= user.radio_button(:gender, 0, :checked => (:gender == false)? true:false) %>
        <%= label_tag ("Female") %>
        <%= user.radio_button(:gender, 1, :checked => (:gender == true)? true:false) %>
        <%= label_tag ("Male") %>
    </td>
  </tr>
  <tr>
    <td><%= user.label :facebook %></td>
    <td><%= user.text_field :facebook %></td>
  </tr>
  <tr>
    <td><%= user.label :blog %></td>
    <td><%= user.text_field :blog %></td>
  </tr>
  <tr>
    <td><%= user.submit %></td>
  </tr>

<% end %>
</table>
