<div class=after_login>
  <ul>
    <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
    <li><%= link_to "Sell a Product", new_product_path %></li>
    <li><%= link_to "Share an Article", new_article_path %></li>
    <li><%= link_to "Logout", log_out_path %></li>
  </ul>
</div>
<% if current_user %>
  <div class=after_login>
    <p>List Category</p>
    <%= raw(list_categories) %>
  </div>
<% end %>
