<!DOCTYPE html>
<html>
<head>
  <title>Exam1</title>
  <%= stylesheet_link_tag    "application","style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class=container>
    <div id=header>
      <h1>Welcome to my store</h1>
      <ul>
        <% if current_user.nil? %>
          <li><%= link_to 'Sign Up', new_user_path %>
        <% else %>
          <li><%= link_to 'Home', root_url %></li>
        <% end %>
        <li><%= link_to 'Products', products_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
        <% unless current_user.nil? %>
          <% if current_user.is_admin? %>
            <li><%= link_to 'Category', admin_categories_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br class=clear />
    <div id=menu_login>
      <% unless current_user %>
        <%= render :partial => "/layouts/login" %>
      <% else %>
        <%= render :partial => "/layouts/after_login" %>
      <% end %>
    </div>
    <div id=content><%= yield %>
    </div>
  </div>
</body>
</html>
